@font-face {
    font-family: 'shrikhandregular';
    src: url('police/shrikhand/shrikhand-regular-webfont.eot');
    src: url('police/shrikhand/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('police/shrikhand/shrikhand-regular-webfont.woff') format('woff'),
         url('police/shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
         url('police/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('police/roboto/Roboto-Regular-webfont.eot');
    src: url('police/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('police/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('police/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('police/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$quaternaire:#F2F2F2;
$cinquieme:#DCDCDC;
$sixieme:#0F0D0A;
$septieme:white;

@keyframes fondu{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@mixin valeur_fondu1 {
    animation: fondu 1s ease-in-out;
}
@mixin valeur_fondu2 {
    animation: fondu 2s ease-in-out;
}
@mixin valeur_fondu3 {
    animation: fondu 3s ease-in-out;
}
@mixin valeur_fondu4 {
    animation: fondu 4s ease-in-out;
}
@mixin check{
    display: flex;
    width: 15%;
    height: auto;
    border-radius: 0 20px 20px 0;
    background-color: $tertiaire;
    font-size: 110%;
    align-items: center;
    justify-content: center;
    color: $septieme;
    transform: scaleX(0);
    transform-origin: right;
}
@mixin check_hover {
    box-shadow: 6px 6px 6px darken($cinquieme,10);
    cursor: pointer;
        & .check{
            transform:scaleX(1);
            transform-origin: right;
            transition: transform 250ms linear;
        }
        & .fa-check-circle{
            transform: rotate(360deg);
            transition: transform 250ms linear;
        }
        & .prix{
            transform:translateX(-10%);
            transition: transform 250ms linear;
        }
        & .descrption{
            width:50vw;
            transition: width 250ms linear;
        }
}
.loading{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $septieme;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading_disparition 2s normal forwards ease-in;
}
@keyframes loading_disparition{
    0% {transform: scale(1);}
    99% { transform: scale(1);}
    100% {transform: scale(0);}
}
.loading_spinner2{
    width: 50px;
      height: 50px;
      border: 10px solid $primaire;
      border-top-color: $secondaire;
      border-radius: 50%;
      animation: turn 1s linear infinite;
}
@keyframes turn{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
 .loading_spinner{
.lettre{
    color: $cinquieme;
    font-size: 130%;
    letter-spacing: 5%;
    animation: lettres 1.2s linear infinite;

}
}
@keyframes lettres{
    0%{
        color: darken($tertiaire,20);
        text-shadow: 0 0 6px darken($tertiaire,20);
    }
    90%{
        color:$cinquieme;
    }
    100%{
        color: darken($tertiaire,20);
        text-shadow: 0 0 6px darken($tertiaire,20);
    }
}
.lettre:nth-child(1){
    animation-delay:0.1s;
}
.lettre:nth-child(2){
    animation-delay:0.2s;
}
.lettre:nth-child(3){
    animation-delay:0.3s;
}
.lettre:nth-child(4){
    animation-delay:0.4s;
}
.lettre:nth-child(5){
    animation-delay:0.5s;
}
.lettre:nth-child(6){
    animation-delay:0.6s;
}
.lettre:nth-child(7){
    animation-delay:0.7s;
}
.lettre:nth-child(8){
    animation-delay:0.8s;
}
.lettre:nth-child(9){
    animation-delay:0.9s;
}
.lettre:nth-child(10){
    animation-delay:1s;
}


.bloc_page{
    width:100%;
    height:auto;
    margin: auto;
    font-family: "robotoregular", Arial,sans-serif;
    color: $sixieme;
    cursor: default;
    font-size: 1.14rem;
        a{
            text-decoration: none;
            color: $sixieme;
        }
        li{
            display: flex;
            justify-content: left;
         }
         .coeur_plein .fa-heart{
            transform: scale(0);
        }
        .coeur{
            box-sizing: border-box;
            padding-left: 5%;
            display: inline-block;
            cursor: pointer;
            align-self: flex-end;
            box-sizing: border-box;
            padding-right: 2%;
            font: 120%;
                & > .coeur_plein{
                    display: none;
                    color: transparent;
                }
                &:hover{
                    & .coeur_plein{
                        display: block;
                    }
                    & .coeur_vide{
                        display: none;
                    }
                }
        }

        .coeur_plein:hover .fa-heart{
            transform: scale(1);
            transform-origin: bottom;
            transition: transform 300ms ease-in-out;
            background-clip: text;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(to top, $secondaire, $primaire);
                        }
}

/* acceuil*/


header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
        .logo{
            display: flex;
            width: auto;
            height: 40%;
            padding: 2% 0 5% 0;
        }
        .header_return{
            color: $sixieme;
            font-size: 200%;
            width: auto;
            height:100%; 
            justify-content: center; 
        }
}
.section_presentation{
    width: 100%;
    height: auto;
    background-color: $quaternaire;
    padding-bottom: 3%;
        .localisation{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            background-color: $cinquieme;
           border-top: 2px darken($cinquieme,20) solid;
        }
        #map{
            margin-right:3%;
        }
        .input_recherche{
            width: 36%;
            height: auto;
            display: flex;
            justify-content: center;
            background-color: $cinquieme;
            border:none;
        }
        h1{
            display: flex;
            justify-content: center;
            font-weight: bold;
            text-align: center;
        }
        h2{
            font-size: 90%;
            font-weight: 100;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .btn{
            font-size: 100%;
            max-width: 65vw;
            height: auto;
            padding:2%;
            margin:auto;
            border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
            display: flex;
            justify-content: center;
            cursor: pointer;
            color: $quaternaire;
            background: linear-gradient(to bottom right, $secondaire,$primaire);
            box-shadow: 6px 6px 6px darken($cinquieme,5);
                &:hover{
                    background: linear-gradient(to bottom right, lighten($secondaire,3), lighten($primaire,3));
                    box-shadow: 6px 6px 6px darken($cinquieme,10);
                }
        }
}
.section_fonctionnement{
    width: calc(100% - 6%);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3%;
        h2{
            width: calc(100% - 10%);
            height: auto;
            margin: 5%;
            display: flex;
            justify-content: left;
        }
        ul{
            display: flex;
            flex-direction: column;
            padding:0;
        }
        li{
            
            background-color: $quaternaire;
            border-radius: 50%;
            margin: 3% 0 0 0;
            width: 80%;
            height: 60px;
            display: flex;
            flex-wrap: nowrap;
            align-self: center;
            box-shadow: 6px 6px 6px darken($cinquieme,5);
                &:hover{
                    background-color: lighten($primaire,30);
                    box-shadow: 6px 6px 6px darken($cinquieme,10);
                    .fa-tablet-alt{
                        color: $primaire;
                    }
                    .fa-list-ul{
                        color: $primaire;
                    }
                    .fa-store{
                        color: $primaire;
                    }
                }
        }
        .li_chiffre{
            margin-right: 4%;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center; 
            background-color: $primaire;
            color:$septieme;
            position: relative;
            left: -2%;         
        }
        .fa-tablet-alt{
            margin-right: 4%;
        }
        .fa-list-ul{
            margin-right: 4%;
        }
        .fa-list-ul{
            margin-right: 4%;
        }
        p{
            width: 100%;
        }
}
.section_restaurants{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 3%;
    background-color: $quaternaire;

        h2{
            width: calc(100% - 10%);
            height: auto;
            margin: 5%;
            display: flex;
            justify-content: left;
        }
        a{
            width: 100%;
            height: auto;
            margin: 6%;
        }
        .index2, .index3, .index4, .index5{
            width: auto;
            height: 240px;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-shadow: 6px 6px 6px darken($cinquieme,5);
                &:hover{
                    box-shadow: 6px 6px 6px darken($cinquieme,10);
                }
        }
        .index2{
            background-image: url(image/palette.jpg);
        }
        .index3{
            background-image: url(image/note.jpg);
        }
        .index4{
            background-image: url(image/francaise.jpg);
        }
        .index5{
            background-image: url(image/delice.jpg);
        }
        .nouveau{
            color: darken($tertiaire,45);
            background-color: $tertiaire;
            box-sizing: border-box;
            width: auto;
            height: auto;
            margin-right: 1%;
            padding: 1%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-self: flex-end;
            position: relative;
            bottom: 51%;
        }
        h3{
            background-color: $septieme;
            width: 100%;
            height: auto;
            margin:0;
            box-sizing: border-box;
            padding-left: 3%;
        }
        p{
            width: 100%;
            height: auto;
            margin:0;
            background-color: $septieme;
            border-radius: 0 0 15px 15px;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding-left: 3%;
            padding-bottom: 2%;
        }
}

/*les indexs restaurants*/
/*index2*/

#le_gout{
    background-image: url(image/palette.jpg);
    background-size: cover;
    background-position: center;
}
/*index3*/
#la_note{
    background-image: url(image/note.jpg);
    background-size: cover;
    background-position: center;
}
/*index4*/
#la_francaise{
    background-image: url(image/francaise.jpg);
    background-size: cover;
    background-position: center;
}
/*index5*/
#le_delice{
    background-image: url(image/delice.jpg);
    background-size: cover;
    background-position: center;
}
   
/*code commun index*/
.bloc_index{
    width: 100%;
    height: auto;
    background-color: $quaternaire;
}
.header_index{
    background-color: $septieme;
    display: flex;
    justify-content: space-between;
}
.titre-restaurant{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 350%;
    margin: 0;
        h2{
            font-family: shrikhandregular, arial, sans-serif;
            margin: 0;
            box-sizing: border-box;
            padding:4% 0 3% 0;
            border-radius: 25px 25px 0 0;
            background-color: $quaternaire;
        }
}
.menu{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 5%;
    font-size: 200%;
    h6{
        margin: 0;
        color: $quaternaire;  
    }
    h2{
        box-sizing: border-box;
        font-weight: 100;
        border-bottom: 3px $tertiaire solid;
        width: 6%;
        height: auto;
        margin: 2%;
    }
    h3{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 5% 0 0% 5%;
        margin:1% 0 0 2%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 1% 0 5% 5%;
        margin: 0 0 1% 2%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .descrption{
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: auto;
    }
    .prix{
        width: 15%;
        height: auto;
        margin-left:2%;
        font-weight: bold;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.entree{
        .entree_1, .entree_2, .entree_3, .entree_4{
            width: auto;
            height: auto;
            background-color: $septieme;
            border-radius: 20px;
            box-sizing: border-box;
            margin: 10px;
            box-shadow: 6px 6px 6px darken($cinquieme,5);
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;
                & > .check{
                    @include check;
                }
                &:hover{
                   @include check_hover;
                }
        }
    }
        .entree_1{
            @include valeur_fondu1;
        }
        .entree_2{
            @include valeur_fondu2;
        }
        .entree_3{
            @include valeur_fondu3;
        }
        .entree_4{
            @include valeur_fondu4;
        }
.plat{
        .plat_1, .plat_2, .plat_3{
            background-color: $septieme;
            border-radius: 20px;
            box-sizing: border-box;
            margin: 2%;
            box-shadow: 6px 6px 6px darken($cinquieme,5);
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;
            & > .check{
                @include check;
            }
            &:hover{
               @include check_hover;
            }
        }
        .plat_1{
            @include valeur_fondu1;
        }
        .plat_2{
            @include valeur_fondu2;
        }
        .plat_3{
            @include valeur_fondu3;
        }
}
.dessert{
        .dessert_1, .dessert_2, .dessert_3{
            background-color: $septieme;
            border-radius: 20px;
            box-sizing: border-box;
            margin: 2%;
            box-shadow: 6px 6px 6px darken($cinquieme,5);
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;
            & > .check{
                @include check;
            }
            &:hover{
               @include check_hover;
            }
        }
        .dessert_1{
            @include valeur_fondu1;
        }
        .dessert_2{
            @include valeur_fondu2;
        }
        .dessert_3{
            @include valeur_fondu3;
        }
}
.commande{
    margin: 0;
        h2{
            width: auto;
            height: 0;
            margin: 0;
            position: relative;
            right: 1000000rem;
        }
        .commander{
            box-sizing: border-box;
            padding-bottom: 10%;
            .btn_commande{
                max-width: 65vw;
                font-size: 100%;
                height: auto;
                box-sizing: border-box;
                padding:2%;
                margin:auto;
                border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
                border: none;
                display: flex;
                justify-content: center;
                cursor: pointer;
                color: $quaternaire;
                background: linear-gradient(to bottom right, $secondaire,$primaire);
                box-shadow: 6px 6px 6px darken($cinquieme,5);
                    &:hover{
                        background: linear-gradient(to bottom right, lighten($secondaire,3), lighten($primaire,3));
                        box-shadow: 6px 6px 6px darken($cinquieme,10);
                    }
            }
        }
}
/*code commun*/
footer{
    width: calc(100% - 6%);
    height: auto;
    background-color: $sixieme;
    padding: 0.3% 3% 3% 3%;
        h2{
            font-family: shrikhandregular, Arial, sans-serif;
            color: $septieme;
        }
        ul{
            list-style-type: none;
        }
        li{
            margin: 1%;
        }
        .puce_footer{
            color:$septieme;
            .fa-utensils, .fa-handshake{
                width: 27px;
                height: auto;
            }
                &:hover {
                    color: darken($septieme, 10);
                }
        }
}


/* les media queries*/

/*XS format mobile*/
@media screen and (max-width:280px){

    /*acceuil*/
    header{
        .logo{
            height: 30px;
        }
        .header_return{
            height: 30px;
            .fa-arrow-left{
                font-size: 70%;
            }
        }
    }
    .section_presentation{
        .input_recherche{
            width: 40%;
        }
        .btn{
            font-size: 90%;
        }
    }
    .section_fonctionnement{
        li{
            width: 100%;
            font-size: 95%;
            border-radius: 20px;
            height: 60px;
        }
        .li_chiffre{
            margin-right: 2%;
            width: 22px;
            height: 22px;          
        }
        .fa-tablet-alt{
            margin-right: 2%;
        }
        .fa-list-ul{
            margin-right: 2%;
        }
        .fa-store{
            margin-right: 2%;
        }
    }
    .section_restaurants{
        .nouveau{
            width: 23vw;
            font-size: 90%;
        }
    }
}
/*index*/
.titre-restaurant-nom{
    font-size:75%
}
.menu{
    .titre-plat{
    font-size: 75%;
    }
    .descrption{
        font-size: 70%;
    }
    .prix{
        font-size: 70%;
    }
}
.commande{
    .btn_commande{
        font-size: 120%;
    }
}
footer{
    h2{
        font-size: 80%;
    }
    a{
        font-size: 80%;
    }
    .puce_footer{
        font-size: 60%;
    .fa-utensils, .fa-handshake{
        width: 22px;
        }
    }
}

/*S format mobile*/
@media screen and (max-width: 653px)and (min-width:281px){

    header{
        .logo{
            height: 40px;
        }
    }
    .section_presentation{
        #map{
            padding: 1% 0 1% 0;
        }
    }
    .section_fonctionnement{
        li{
            width: 90%;
            border-radius: 10px;
            font-size: 90%;
        }
        .li_chiffre{
            margin-right: 5%;
            width: 28px;
            height: 28px;
        }
        .fa-tablet-alt{
            margin-right: 5%;
        }

        .fa-list-ul{
            margin-right: 5%;
        }

        .fa-store{
            margin-right: 5%;
        }
    }
    .section_restaurants{
        .index2, .index3, .index4, .index5{
            height: 205px;
        }
    }
}
/*index*/
.titre-restaurant h2{
    font-size:40%
}
.menu{
    font-size: 150%;
}
footer{
    font-size: 150%;
}




/* M format mobile*/
@media screen and (max-width: 823px) and (min-width: 654px){
    header{
        height: auto;
        .logo{
       height: 50px;
        }
        .header_return{
            height: 50px;
        }
    }
    .section_presentation{
        #map{
            padding: 1% 0 0.5% 0;
        }
        .input_recherche{
            width: 30%;
        }
    }
    .section_fonctionnement{
        li{
            border-radius: 10px;
            height: 60px;
        }
        .fa-tablet-alt{
            margin-right: 11%;
        }
        .fa-list-ul{
            margin-right: 11%;
        }
        .fa-store{
            margin-right: 11%;
        }
    }
}




/*format tablette */
@media screen and (max-width: 1200px) and (min-width: 824px){

    header{
        height: auto;
        .logo{
            height: 60px;
        }
        .logo{
            height: 60px;
        }
    }
    .section_presentation{
        #map{
            padding: 0.5% 0 0.5% 0;
        }
        .input_recherche{
            width: 30%;
        }
        .btn{
            width: 35%;
        }
    }
    .section_fonctionnement{
        li{
            border-radius: 20px;
            height: 60px;
        }
    }
    .section_restaurants{
        .block_restaurants{
            display: flex;
            flex-wrap: wrap;
                .nouveau{
                    bottom: 56%;
                }
        }
        .index2, .index3, .index4, .index5{
            width: 45%;
            height: 300px;
            margin: auto;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
    .titre-restaurant{ 
        height: 500px;
            h2{
        
                font-size: 110%;
    }
}
}



/*format desktop*/
@media screen and (min-width:1025px){

    .bloc_page{
        width: 100%;
        max-width: 980px;
        height: auto;
    }
    header{
        width: 100%;
        height: auto;
            .logo{
            height: 60px;
            }
            .header_return{
                height: 60px;
            }
    }
    .section_presentation{
        #map{
            padding: 1% 0 1% 0;
        }
        .input_recherche{
            width: 30%;
        }
        .btn{
            width: 40%;
        }
    }
    .section_fonctionnement{
        h2{
            margin: 0;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        li{
            width: 30%;
            border-radius: 20px;
            height: 60px;
            font-size: 95%;
        }
    }
    .section_restaurants{
        .block_restaurants{
            display: flex;
            flex-wrap: wrap;
            .nouveau{
                bottom: 56%;
            }
        }
        .index2, .index3, .index4, .index5{
            width: 45%;
            height: 300px;
            margin: auto;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        h3{
            height: 28px;
        }
        p{
            height: 33px;
        }
    }
    .titre-restaurant{
        height: 500px;
            h2{
        font-size: 100%;
        }
    }
    footer{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

