@font-face {
  font-family: 'shrikhandregular';
  src: url("police/shrikhand/shrikhand-regular-webfont.eot");
  src: url("police/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("police/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("police/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("police/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading_spinner {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lettre {
  color: #DCDCDC;
  font-size: 200%;
  letter-spacing: 15px;
  -webkit-animation: lettres 1.2s linear infinite;
          animation: lettres 1.2s linear infinite;
}

@-webkit-keyframes lettres {
  0% {
    color: #4acbab;
    text-shadow: 0 0 6px #4acbab;
  }
  90% {
    color: #DCDCDC;
  }
  100% {
    color: #4acbab;
    text-shadow: 0 0 6px #4acbab;
  }
}

@keyframes lettres {
  0% {
    color: #4acbab;
    text-shadow: 0 0 6px #4acbab;
  }
  90% {
    color: #DCDCDC;
  }
  100% {
    color: #4acbab;
    text-shadow: 0 0 6px #4acbab;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading {
  opacity: 0;
  -webkit-transition: opacity 3s linear;
  transition: opacity 3s linear;
}

.bloc_page {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: robotoregular;
  color: #0F0D0A;
  cursor: default;
  font-size: 1.14rem;
}

.bloc_page a {
  text-decoration: none;
  color: #0F0D0A;
}

.bloc_page li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.bloc_page .coeur_plein .fa-heart {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.bloc_page .coeur {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5%;
  display: inline-block;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  box-sizing: border-box;
  padding-right: 2%;
  font: 120%;
}

.bloc_page .coeur > .coeur_plein {
  display: none;
  color: transparent;
}

.bloc_page .coeur:hover .coeur_plein {
  display: block;
}

.bloc_page .coeur:hover .coeur_vide {
  display: none;
}

.bloc_page .coeur_plein:hover .fa-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}

/* acceuil*/
header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 40%;
  padding: 2% 0 5% 0;
}

header .header_return {
  color: #0F0D0A;
  font-size: 200%;
  width: auto;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_presentation {
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
  padding-bottom: 3%;
}

.section_presentation .localisation {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DCDCDC;
  border-top: 2px darkgray solid;
}

.section_presentation #map {
  margin-right: 3%;
}

.section_presentation .input_recherche {
  width: 36%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DCDCDC;
  border: none;
}

.section_presentation h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
}

.section_presentation h2 {
  font-size: 90%;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section_presentation .btn {
  font-size: 100%;
  max-width: 65vw;
  height: auto;
  padding: 2%;
  margin: auto;
  border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #F2F2F2;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
}

.section_presentation .btn:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
}

.section_fonctionnement {
  width: calc 94%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3%;
}

.section_fonctionnement h2 {
  width: calc(100%-10%);
  height: auto;
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section_fonctionnement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.section_fonctionnement li {
  background-color: #F2F2F2;
  border-radius: 20px;
  margin: 3% 0 0 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
}

.section_fonctionnement li:hover {
  background-color: #e4d5f6;
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
}

.section_fonctionnement li:hover .fa-tablet-alt {
  color: #9356DC;
}

.section_fonctionnement li:hover .fa-list-ul {
  color: #9356DC;
}

.section_fonctionnement li:hover .fa-list-ul {
  color: #9356DC;
}

.section_fonctionnement .li_chiffre {
  margin-right: 4%;
  padding: 0.5% 1.7% 0.5% 1.7%;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  position: relative;
  left: -2%;
}

.section_fonctionnement .fa-tablet-alt {
  margin-right: 4%;
}

.section_fonctionnement .fa-list-ul {
  margin-right: 4%;
}

.section_fonctionnement .fa-list-ul {
  margin-right: 4%;
}

.section_fonctionnement p {
  width: 100%;
}

.section_restaurants {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 3%;
  background-color: #F2F2F2;
}

.section_restaurants h2 {
  width: calc(100%-10%);
  height: auto;
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section_restaurants a {
  width: 100%;
  height: auto;
  margin: 6%;
}

.section_restaurants .index2, .section_restaurants .index3, .section_restaurants .index4, .section_restaurants .index5 {
  width: auto;
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
}

.section_restaurants .index2:hover, .section_restaurants .index3:hover, .section_restaurants .index4:hover, .section_restaurants .index5:hover {
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
}

.section_restaurants .index2 {
  background-image: url(image/palette.jpg);
}

.section_restaurants .index3 {
  background-image: url(image/note.jpg);
}

.section_restaurants .index4 {
  background-image: url(image/francaise.jpg);
}

.section_restaurants .index5 {
  background-image: url(image/delice.jpg);
}

.section_restaurants .nouveau {
  color: #217460;
  background-color: #99E2D0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  height: auto;
  margin-right: 1%;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 55%;
}

.section_restaurants h3 {
  background-color: white;
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 3%;
}

.section_restaurants p {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 3%;
  padding-bottom: 2%;
}

/*les indexs restaurants*/
/*index2*/
#le_gout {
  background-image: url(image/palette.jpg);
  background-size: cover;
  background-position: center;
}

/*index3*/
#la_note {
  background-image: url(image/note.jpg);
  background-size: cover;
  background-position: center;
}

/*index4*/
#la_francaise {
  background-image: url(image/francaise.jpg);
  background-size: cover;
  background-position: center;
}

/*index5*/
#le_delice {
  background-image: url(image/delice.jpg);
  background-size: cover;
  background-position: center;
}

/*code commun index*/
.bloc_index {
  background-color: #F2F2F2;
}

.header_index {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titre-restaurant {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  font-size: 350%;
  margin: 0;
}

.titre-restaurant h2 {
  font-family: shrikhandregular, arial, sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4% 0 3% 0;
  border-radius: 25px 25px 0 0;
  background-color: #F2F2F2;
}

.menu {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 5%;
  font-size: 200%;
}

.menu h6 {
  margin: 0;
  position: relative;
  right: -100000000rem;
}

.menu h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 100;
  border-bottom: 3px #99E2D0 solid;
  width: 6%;
  height: auto;
  margin: 2%;
}

.menu h3 {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5% 0 0% 5%;
  margin: 1% 0 0 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu p {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1% 0 5% 5%;
  margin: 0 0 1% 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu .descrption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.menu .prix {
  width: 10%;
  height: auto;
  margin-left: 2%;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.entree .entree_1, .entree .entree_2, .entree .entree_3, .entree .entree_4 {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2%;
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entree .entree_1 > .check, .entree .entree_2 > .check, .entree .entree_3 > .check, .entree .entree_4 > .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: auto;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  font-size: 110%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 2s linear ease-in-out;
  transition: -webkit-transform 2s linear ease-in-out;
  transition: transform 2s linear ease-in-out;
  transition: transform 2s linear ease-in-out, -webkit-transform 2s linear ease-in-out;
}

.entree .entree_1:hover, .entree .entree_2:hover, .entree .entree_3:hover, .entree .entree_4:hover {
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
  cursor: pointer;
}

.entree .entree_1:hover .check, .entree .entree_2:hover .check, .entree .entree_3:hover .check, .entree .entree_4:hover .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.entree .entree_1:hover .fa-check-circle, .entree .entree_2:hover .fa-check-circle, .entree .entree_3:hover .fa-check-circle, .entree .entree_4:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.entree .entree_1:hover .prix, .entree .entree_2:hover .prix, .entree .entree_3:hover .prix, .entree .entree_4:hover .prix {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.entree .entree_1:hover .descrption, .entree .entree_2:hover .descrption, .entree .entree_3:hover .descrption, .entree .entree_4:hover .descrption {
  width: 70%;
  -webkit-transition: width 500ms linear;
  transition: width 500ms linear;
}

.entree .entree_1 {
  -webkit-animation: fondu 1000ms linear 0ms 1 normal none;
          animation: fondu 1000ms linear 0ms 1 normal none;
}

.entree .entree_2 {
  -webkit-animation: fondu 1000ms linear 300ms 1 normal none;
          animation: fondu 1000ms linear 300ms 1 normal none;
}

.entree .entree_3 {
  -webkit-animation: fondu 1000ms linear 600ms 1 normal none;
          animation: fondu 1000ms linear 600ms 1 normal none;
}

.entree .entree_4 {
  -webkit-animation: fondu 1000ms linear 900ms 1 normal none;
          animation: fondu 1000ms linear 900ms 1 normal none;
}

.plat .plat_1, .plat .plat_2, .plat .plat_3 {
  background-color: white;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2%;
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plat .plat_1 > .check, .plat .plat_2 > .check, .plat .plat_3 > .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: auto;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  font-size: 110%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 2s linear ease-in-out;
  transition: -webkit-transform 2s linear ease-in-out;
  transition: transform 2s linear ease-in-out;
  transition: transform 2s linear ease-in-out, -webkit-transform 2s linear ease-in-out;
}

.plat .plat_1:hover, .plat .plat_2:hover, .plat .plat_3:hover {
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
  cursor: pointer;
}

.plat .plat_1:hover .check, .plat .plat_2:hover .check, .plat .plat_3:hover .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.plat .plat_1:hover .fa-check-circle, .plat .plat_2:hover .fa-check-circle, .plat .plat_3:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.plat .plat_1:hover .prix, .plat .plat_2:hover .prix, .plat .plat_3:hover .prix {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.plat .plat_1:hover .descrption, .plat .plat_2:hover .descrption, .plat .plat_3:hover .descrption {
  width: 70%;
  -webkit-transition: width 500ms linear;
  transition: width 500ms linear;
}

.plat .plat_1 {
  -webkit-animation: fondu 1000ms linear 0ms 1 normal none;
          animation: fondu 1000ms linear 0ms 1 normal none;
}

.plat .plat_2 {
  -webkit-animation: fondu 1000ms linear 300ms 1 normal none;
          animation: fondu 1000ms linear 300ms 1 normal none;
}

.plat .plat_3 {
  -webkit-animation: fondu 1000ms linear 600ms 1 normal none;
          animation: fondu 1000ms linear 600ms 1 normal none;
}

.dessert .dessert_1, .dessert .dessert_2, .dessert .dessert_3 {
  background-color: white;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2%;
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dessert .dessert_1 > .check, .dessert .dessert_2 > .check, .dessert .dessert_3 > .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: auto;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  font-size: 110%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 2s linear ease-in-out;
  transition: -webkit-transform 2s linear ease-in-out;
  transition: transform 2s linear ease-in-out;
  transition: transform 2s linear ease-in-out, -webkit-transform 2s linear ease-in-out;
}

.dessert .dessert_1:hover, .dessert .dessert_2:hover, .dessert .dessert_3:hover {
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
  cursor: pointer;
}

.dessert .dessert_1:hover .check, .dessert .dessert_2:hover .check, .dessert .dessert_3:hover .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.dessert .dessert_1:hover .fa-check-circle, .dessert .dessert_2:hover .fa-check-circle, .dessert .dessert_3:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.dessert .dessert_1:hover .prix, .dessert .dessert_2:hover .prix, .dessert .dessert_3:hover .prix {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.dessert .dessert_1:hover .descrption, .dessert .dessert_2:hover .descrption, .dessert .dessert_3:hover .descrption {
  width: 70%;
  -webkit-transition: width 500ms linear;
  transition: width 500ms linear;
}

.dessert .dessert_1 {
  -webkit-animation: fondu 1000ms linear 0ms 1 normal none;
          animation: fondu 1000ms linear 0ms 1 normal none;
}

.dessert .dessert_2 {
  -webkit-animation: fondu 1000ms linear 300ms 1 normal none;
          animation: fondu 1000ms linear 300ms 1 normal none;
}

.dessert .dessert_3 {
  -webkit-animation: fondu 1000ms linear 600ms 1 normal none;
          animation: fondu 1000ms linear 600ms 1 normal none;
}

.commande {
  margin: 0;
}

.commande h2 {
  width: auto;
  height: 0;
  margin: 0;
  position: relative;
  right: 1000000rem;
}

.commande .commander {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10%;
}

.commande .commander .btn_commande {
  max-width: 65vw;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2%;
  margin: auto;
  border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #F2F2F2;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 6px 6px 6px #cfcfcf;
          box-shadow: 6px 6px 6px #cfcfcf;
}

.commande .commander .btn_commande:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  -webkit-box-shadow: 6px 6px 6px #c3c3c3;
          box-shadow: 6px 6px 6px #c3c3c3;
}

/*code commun*/
footer {
  width: calc 94%;
  height: auto;
  background-color: #0F0D0A;
  padding: 0.3% 3% 3% 3%;
}

footer h2 {
  font-family: shrikhandregular, Arial, sans-serif;
  color: white;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin: 1%;
}

footer .puce_footer {
  color: white;
}

footer .puce_footer:hover {
  color: #e6e6e6;
}

/* les media queries*/
/*XS format mobile*/
@media screen and (max-width: 280px) {
  /*acceuil*/
  header .logo {
    height: 30px;
  }
  header .header_return {
    height: 30px;
  }
  header .header_return .fa-arrow-left {
    font-size: 70%;
  }
  .section_presentation .input_recherche {
    width: 40%;
  }
  .section_fonctionnement li {
    width: 100%;
  }
  .section_fonctionnement .li_chiffre {
    margin-right: 2%;
    padding: 0.5% 1.7% 0.5% 1.7%;
    border-radius: 100%;
  }
  .section_fonctionnement .fa-tablet-alt {
    margin-right: 2%;
  }
  .section_fonctionnement .fa-list-ul {
    margin-right: 2%;
  }
  .section_fonctionnement .fa-store {
    margin-right: 2%;
  }
  .section_restaurants .nouveau {
    width: 23vw;
    font-size: 90%;
  }
}

/*index*/
.titre-restaurant-nom {
  font-size: 75%;
}

.menu .titre-plat {
  font-size: 75%;
}

.menu .descrption {
  font-size: 70%;
}

.menu .prix {
  font-size: 70%;
}

.commande .btn_commande {
  font-size: 100%;
}

footer h2 {
  font-size: 80%;
}

footer a {
  font-size: 80%;
}

/*S format mobile*/
@media screen and (max-width: 653px) and (min-width: 281px) {
  header .logo {
    height: 40px;
  }
  .section_presentation #map {
    padding: 1% 0 1% 0;
  }
  .section_fonctionnement li {
    width: 90%;
    border-radius: 10px;
  }
  .section_fonctionnement .li_chiffre {
    margin-right: 5%;
    padding: 0.1% 2% 0.1% 2%;
  }
  .section_fonctionnement .fa-tablet-alt {
    margin-right: 5%;
  }
  .section_fonctionnement .fa-list-ul {
    margin-right: 5%;
  }
  .section_fonctionnement .fa-store {
    margin-right: 5%;
  }
  .section_restaurants .index2, .section_restaurants .index3, .section_restaurants .index4, .section_restaurants .index5 {
    height: 205px;
  }
}

/*index*/
.titre-restaurant {
  font-size: 170%;
}

.menu {
  font-size: 150%;
}

.commander {
  font-size: 150%;
}

footer {
  font-size: 150%;
}

/* M format mobile*/
@media screen and (max-width: 823px) and (min-width: 654px) {
  header {
    height: auto;
  }
  header .logo {
    height: 50px;
  }
  header .header_return {
    height: 50px;
  }
  .section_presentation #map {
    padding: 1% 0 0.5% 0;
  }
  .section_presentation .input_recherche {
    width: 30%;
  }
  .section_fonctionnement .li_chiffre {
    padding: 0.1% 1.4% 0.1% 1.4%;
  }
  .section_fonctionnement .fa-tablet-alt {
    margin-right: 11%;
  }
  .section_fonctionnement .fa-list-ul {
    margin-right: 11%;
  }
  .section_fonctionnement .fa-store {
    margin-right: 11%;
  }
}

/*format tablette */
@media screen and (max-width: 1200px) and (min-width: 824px) {
  header {
    height: auto;
  }
  header .logo {
    height: 60px;
  }
  header .logo {
    height: 60px;
  }
  .section_presentation #map {
    padding: 0.5% 0 0.5% 0;
  }
  .section_presentation .input_recherche {
    width: 30%;
  }
  .section_presentation .btn {
    width: 35%;
  }
  .section_fonctionnement .li_chiffre {
    padding: 0.1% 1% 0.5% 1%;
  }
  .section_restaurants .block_restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_restaurants .index2, .section_restaurants .index3, .section_restaurants .index4, .section_restaurants .index5 {
    width: 45%;
    height: 300px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .titre-restaurant {
    font-size: 180%;
  }
}

/*format desktop*/
@media screen and (min-width: 1025px) {
  .bloc_page {
    width: 100%;
    max-width: 980px;
    height: auto;
  }
  header {
    width: 100%;
    height: auto;
  }
  header .logo {
    height: 60px;
  }
  header .header_return {
    height: 60px;
  }
  .section_presentation #map {
    padding: 1% 0 1% 0;
  }
  .section_presentation .input_recherche {
    width: 30%;
  }
  .section_presentation .btn {
    width: 40%;
  }
  .section_fonctionnement h2 {
    margin: 0;
  }
  .section_fonctionnement ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section_fonctionnement li {
    width: 30%;
    height: auto;
  }
  .section_fonctionnement .li_chiffre {
    padding: 0.5% 1.7% 0.5% 1.7%;
  }
  .section_restaurants .block_restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_restaurants .index2, .section_restaurants .index3, .section_restaurants .index4, .section_restaurants .index5 {
    width: 45%;
    height: 300px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .section_restaurants h3 {
    height: 28px;
  }
  .section_restaurants p {
    height: 33px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */