.bloc_page {
  width: 100%;
  margin: auto;
  font-family: roboto;
}

.bloc_page a {
  text-decoration: none;
}

.bloc_page li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: -9%;
  border: 2px red solid;
}

header {
  border: 2px red solid;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  border: 5px green solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 6vh;
}

.section_presentation {
  border: 5px green solid;
  width: 100%;
  height: auto;
}

.section_presentation .localisation {
  border: 2px black solid;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.section_presentation #map {
  margin-right: 1%;
  padding-top: 1%;
  font-size: 1.6rem;
  border: 2px red solid;
}

.section_presentation .input_recherche {
  font-size: 1.1rem;
  width: 55%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px blue solid;
}

.section_presentation h1 {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  border: 2px red solid;
}

.section_presentation h2 {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px blue solid;
}

.section_presentation .btn {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  padding: 2%;
  margin: 5% 12% 8% 12%;
  border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px red solid;
}

.section_fonctionnement {
  border: 5px red solid;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_fonctionnement h2 {
  width: calc(100%-10%);
  height: auto;
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1.5rem;
  border: 2px blue solid;
}

.section_fonctionnement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px green solid;
}

.section_fonctionnement .li_chiffre {
  margin-right: 4%;
  padding: 0.5% 1.7% 0.5% 1.7%;
  border-radius: 100%;
  border: 2px red solid;
}

.section_fonctionnement .fa-tablet-alt {
  margin-right: 4%;
  border: 2px green solid;
}

.section_fonctionnement .fa-list-ul {
  margin-right: 4%;
  border: 2px green solid;
}

.section_fonctionnement .fa-store {
  margin-right: 4%;
  border: 2px green solid;
}

.section_fonctionnement p {
  width: 100%;
  font-size: 0.8rem;
  border: 2px blue solid;
}

.section_restaurants {
  border: 5px blue solid;
  width: 100%;
  height: auto;
}

.section_restaurants h2 {
  width: calc(100%-10%);
  height: auto;
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1.5rem;
  border: 2px blue solid;
}

.section_restaurants a {
  width: 100%;
  height: auto;
  margin: 6.5%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px red solid;
}

.section_restaurants .index2 {
  background-image: url(image/la_palette.jpg);
  width: auto;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.section_restaurants .index3 {
  background-image: url(image/la_note.jpg);
  width: auto;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.section_restaurants .index4 {
  background-image: url(image/a_la_francaise.jpg);
  width: auto;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.section_restaurants .index5 {
  background-image: url(image/le_delice.jpg);
  width: auto;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.section_restaurants h3 {
  font-size: 1.1rem;
  position: relative;
  bottom: -75%;
  background-color: white;
  border: 2px yellow solid;
}

.section_restaurants p {
  height: 2vh;
  font-size: 0.9rem;
  position: relative;
  bottom: -67%;
  background-color: white;
  border: 2px green solid;
}

.section_restaurants .fa-heart {
  position: relative;
  top: -2.1rem;
  font-size: 1.2rem;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  border: 5px olive solid;
  width: 100%;
  height: auto;
  margin-top: 10%;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 1.5rem;
  margin-left: 5%;
  border: 2px green solid;
}

footer ul {
  list-style-type: none;
}

/*mini format mobile*/
@media screen and (max-width: 653px) and (min-width: 270px) {
  .section_presentation .input_recherche {
    font-size: 1rem;
  }
  .section_presentation #map {
    font-size: 1.4rem;
    padding: 1% 0 1% 0;
  }
  .section_presentation h1 {
    font-size: 1.2rem;
  }
  .section_presentation h2 {
    font-size: 0.9rem;
  }
  .section_presentation .btn {
    font-size: 0.9rem;
  }
  .section_fonctionnement h2 {
    font-size: 1.2rem;
  }
  .section_fonctionnement li {
    margin: 0;
  }
  .section_fonctionnement .li_chiffre {
    font-size: 1rem;
    margin-right: 5%;
    padding: 0.1% 2% 0.1% 2%;
  }
  .section_fonctionnement .fa-tablet-alt {
    margin-right: 5%;
  }
  .section_fonctionnement .fa-list-ul {
    margin-right: 5%;
  }
  .section_fonctionnement .fa-store {
    margin-right: 5%;
  }
  .section_fonctionnement p {
    width: 100%;
    font-size: 0.9rem;
  }
  .section_restaurants h3 {
    height: 20px;
    bottom: -69%;
  }
  .section_restaurants .index2, .section_restaurants .index3, .section_restaurants .index4, .section_restaurants .index5 {
    height: 205px;
  }
  .section_restaurants p {
    height: 20px;
    font-size: 0.9rem;
    position: relative;
    bottom: -60%;
  }
}

/*format mobile normal*/
@media screen and (max-width: 823px) and (min-width: 654px) {
  header {
    height: auto;
  }
  header .logo {
    height: 15vh;
  }
  .section_presentation #map {
    padding: 1% 0 0.5% 0;
    font-size: 1.8rem;
  }
  .section_presentation .input_recherche {
    font-size: 1.5rem;
    width: 30%;
    height: 10vh;
  }
  .section_presentation h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .section_presentation h2 {
    font-size: 1.6rem;
    font-weight: 100;
  }
  .section_presentation .btn {
    font-size: 1.6rem;
    width: 50%;
    margin: auto;
  }
  .section_fonctionnement h2 {
    font-size: 2rem;
  }
  .section_fonctionnement li {
    margin: 0;
  }
  .section_fonctionnement .li_chiffre {
    margin-right: 11%;
    font-size: 1.6rem;
    padding: 0.1% 1.1% 0.1% 1.1%;
  }
  .section_fonctionnement .fa-tablet-alt {
    font-size: 1.6rem;
    margin-right: 11%;
  }
  .section_fonctionnement .fa-list-ul {
    font-size: 1.6rem;
    margin-right: 11%;
  }
  .section_fonctionnement .fa-store {
    font-size: 1.6rem;
    margin-right: 11%;
  }
  .section_fonctionnement p {
    width: 100%;
    font-size: 1.6rem;
  }
  .section_restaurants h2 {
    font-size: 2rem;
  }
  .section_restaurants .index2, .section_restaurants .index3, .section_restaurants .index4, .section_restaurants .index5 {
    height: 60vh;
  }
  .section_restaurants h3 {
    font-size: 1.4rem;
    position: relative;
    bottom: -62%;
    background-color: white;
    border: 2px yellow solid;
  }
  .section_restaurants p {
    height: 8vh;
    font-size: 1.2rem;
    position: relative;
    bottom: -51%;
    background-color: white;
    border: 2px green solid;
  }
  .section_restaurants .fa-heart {
    position: relative;
    top: -2.1rem;
    font-size: 1.2rem;
    margin-right: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*format tablette */
/*format desktop*/
/*# sourceMappingURL=style.css.map */