/*mini format mobile*/
@media screen and (max-width: 653px){
.bloc_page{
    width:100%;
    margin:auto;
    font-family: roboto;
        a{
            text-decoration: none;
        }
        li{
            display: flex;
            justify-content: left;
            margin-left:-9%;
            border:2px red solid;
         }
}
header{
    border: 2px red solid;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
        .logo{
            border:5px green solid;
            display: flex;
           width: auto;
           height: 6vh;
        }
}
.section_presentation{
    border: 5px green solid;
    width: 100%;
    height: auto;
        .localisation{
            border:2px black solid;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            font-size: 2rem;
        }
        #map{
            margin-right:1%;
            padding-top: 1%;
            font-size: 1.6rem;
            border: 2px red solid;
        }
        .input_recherche{
            font-size: 1.1rem;
            width: 55%;
            height: 5vh;
            display: flex;
            justify-content: center;
            border: 2px blue solid;
        }
        h1{
            font-size:1.5rem;
            display: flex;
            justify-content: center;
            font-weight: bold;
            text-align: center;
            border: 2px red solid;
        }
        h2{
            font-size:0.9rem;
            display: flex;
            justify-content: center;
            text-align: center;
            border: 2px blue solid;
        }
        .btn{
            width:auto;
            height: auto;
            font-size: 0.9rem;
            padding:2%;
            margin:5% 12% 8% 12%;
            border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
            display: flex;
            justify-content: center;
            border:2px red solid;
        }
}
.section_fonctionnement{
    border: 5px red solid;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

        h2{
            width: calc(100%-10%);
            height: auto;
            margin: 5%;
            display: flex;
            justify-content: left;
            font-size: 1.5rem;
            border: 2px blue solid;
        }

        ul{
            display: flex;
            flex-direction: column;
            border: 2px green solid;
        }

        .li_chiffre{
            margin-right: 4%;
            padding:0.5% 1.7% 0.5% 1.7%;
            border-radius: 100%;
            border: 2px red solid;
           
        }

        .fa-tablet-alt{
            margin-right: 4%;
            border: 2px green solid;
        }

        .fa-list-ul{
            margin-right: 4%;
            border:2px green solid;
        }

        .fa-store{
            margin-right: 4%;
            border:2px green solid;
        }

        p{
            width: 100%;
            font-size: 0.8rem;
            border:2px blue solid;
        }
}
.section_restaurants{
    border: 5px blue solid;
    width: 100%;
    height: auto;

        h2{
            width: calc(100%-10%);
            height: auto;
            margin: 5%;
            display: flex;
            justify-content: left;
            font-size: 1.5rem;
            border: 2px blue solid;
        }

        a{
            width: auto;
            height: 30vh;
            margin: 6.5%;
            display: block;
            justify-content: center;
            border: 2px red solid;
        }

        h3{
            font-size: 1.1rem;
            position: relative;
            bottom: -60%;
            border: 2px yellow solid;
        }
        
        p{
            font-size: 0.9rem;
            position: relative;
            bottom: -55%;
            border:2px green solid;
        }
}

footer{
    border: 5px olive solid;
    width: 100%;
    height: auto;
    margin-top: 10%;

        .logo{
            display: flex;
            justify-content: center;
            width: auto;
            height: 1.5rem;margin-left: 5%;
            border:2px green solid;
        }
        ul{
            list-style-type: none;
        }
      
      
}
}

/*format mobile normal*/
@media screen and (max-width: 823px) and (min-width: 654px){

}

/*format tablette */
@media screen and (max-width: 1200px) and (min-width: 824px){

}

/*format desktop*/
@media screen and (min-widht:1200px){

}
